<!DOCTYPE html> 
<html lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta name="description" content="かないmemo - 今日のクリック">
<meta name="KEYWORDS" content="">
<link rel="stylesheet" type="text/css" href="">
<style type="text/css" media="">
.vuln { background-color: #F00000; }
.partial { background-color: yellow; }
.fixed { background-color: cyan; }
</style>
</head>

<body>

<h1>
 かない memo
</h1>

<hr>

<p>
てすと
</p>

<hr>

<address>
<small>
 [<a href="http://www.hogetan.net/note/memo/_resume.html">私について</a>]
</small>
</address>

</body> </html>
